@using MvcPaging
@model IPagedList<MyAccounts.Models.AccountsModels>
@{
    Layout = null;
}

<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().AccountTypes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().AccountDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Amount)
        </th>
        <th>
            
        </th>
    </tr>
    @{
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.ID
                </td>
                <td>
                    @AccountTypes.GetAccountTypes(item.AccountTypes)
                </td>
                <td>
                    @item.AccountDate.ToString("yyyy/MM/dd")
                </td>
                <td>
                    @($"{item.Amount:N0}")
                </td>
                <td>
                    @Html.ActionLink("修改", "Edit", new { id = item.GId, area = "Backend" }, htmlAttributes: new { @class = "btn btn-white btn-xs" })
                    <a href="@Url.Action("Delete", "ManageAccounts", new { id = item.GId, area = "Backend" })" class="btn btn-white btn-xs delete"><i class="fa fa-trash-o"></i></a>
                </td>
            </tr>
        }
    }
    <tr>
        <td colspan="7">
            @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
        </td>
    </tr>
</table>