@using MyAccounts.Helpers
@model IPagedList<MyAccounts.Models.AccountsModels>
@{
    Layout = null;
}

<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().AccountTypes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().AccountDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Amount)
        </th>
    </tr>
    @{
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.ID
                </td>
                <td>
                    @AccountTypes.GetAccountTypes(item.AccountTypes)
                </td>
                <td>
                    @item.AccountDate.ToString("yyyy/MM/dd")
                </td>
                <td>
                    @($"{item.Amount:N0}")
                </td>
            </tr>
        }
    }
    <tr>
        <td colspan="7">
            @Html.MvcPager(Model.PageSize, Model.TotalItemCount, true, "Index", "")
        </td>
    </tr>
</table>