@model IPagedList<MyAccounts.Models.AccountsModels>
@{
    Layout = null;
}

<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().AccountTypes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().AccountDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Amount)
        </th>
    </tr>
    @{
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.ID
                </td>
                <td>
                    @RazorHelper.GetAccountTypes(item.AccountTypes)
                </td>
                <td>
                    @item.AccountDate.ToString("yyyy/MM/dd")
                </td>
                <td>
                    @($"{item.Amount:N0}")
                </td>
            </tr>
        }
    }
    <tr>
        <td colspan="7">
            <ul class="pagination pull-right">
                @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
                @*@Html.MvcSimplePager(Model.AccountsModels.PageSize, Model.AccountsModels.TotalItemCount, true)*@
            </ul>
        </td>
    </tr>
</table>